/* github-commit */
span.custom-taskcolor-github-commit,
div.custom-taskcolor-github-commit {
  background-color: #bebdbf;
}

/* Completed github-commit */
span.UflSff.custom-taskcolor-github-commit,
div.UflSff.custom-taskcolor-github-commit {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(190, 189, 191, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* marginal */
span.custom-taskcolor-marginal,
div.custom-taskcolor-marginal {
  background-color: #546e7a;
}

/* Completed marginal */
span.UflSff.custom-taskcolor-marginal,
div.UflSff.custom-taskcolor-marginal {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(84, 110, 122, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* vim */
span.custom-taskcolor-vim,
div.custom-taskcolor-vim {
  background-color: #546e7a;
}

/* Completed vim */
span.UflSff.custom-taskcolor-vim,
div.UflSff.custom-taskcolor-vim {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(84, 110, 122, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* gitroll */
span.custom-taskcolor-gitroll,
div.custom-taskcolor-gitroll {
  background-color: #546e7a;
}

/* Completed gitroll */
span.UflSff.custom-taskcolor-gitroll,
div.UflSff.custom-taskcolor-gitroll {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(84, 110, 122, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* aotcl */
span.custom-taskcolor-aotcl,
div.custom-taskcolor-aotcl {
  background-color: #546e7a;
}

/* Completed aotcl */
span.UflSff.custom-taskcolor-aotcl,
div.UflSff.custom-taskcolor-aotcl {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(84, 110, 122, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* leetcode */
span.custom-taskcolor-leetcode,
div.custom-taskcolor-leetcode {
  background-color: #546e7a;
}

/* Completed leetcode */
span.UflSff.custom-taskcolor-leetcode,
div.UflSff.custom-taskcolor-leetcode {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(84, 110, 122, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* simulate-github */
span.custom-taskcolor-simulate-github,
div.custom-taskcolor-simulate-github {
  background-color: #607d8b;
}

/* Completed simulate-github */
span.UflSff.custom-taskcolor-simulate-github,
div.UflSff.custom-taskcolor-simulate-github {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(96, 125, 139, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* urgent */
span.custom-taskcolor-urgent,
div.custom-taskcolor-urgent {
  background-color: #f24162;
}

/* Completed urgent */
span.UflSff.custom-taskcolor-urgent,
div.UflSff.custom-taskcolor-urgent {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(242, 65, 98, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* math313 */
span.custom-taskcolor-math313,
div.custom-taskcolor-math313 {
  background-color: #1bbc9b;
}

/* Completed math313 */
span.UflSff.custom-taskcolor-math313,
div.UflSff.custom-taskcolor-math313 {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(27, 188, 155, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* math263 */
span.custom-taskcolor-math263,
div.custom-taskcolor-math263 {
  background-color: #bedb39;
}

/* Completed math263 */
span.UflSff.custom-taskcolor-math263,
div.UflSff.custom-taskcolor-math263 {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(190, 219, 57, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* psio201 */
span.custom-taskcolor-psio201,
div.custom-taskcolor-psio201 {
  background-color: #5c148c;
}

/* Completed psio201 */
span.UflSff.custom-taskcolor-psio201,
div.UflSff.custom-taskcolor-psio201 {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(92, 20, 140, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* csc244 */
span.custom-taskcolor-csc244,
div.custom-taskcolor-csc244 {
  background-color: #1bbc9b;
}

/* Completed csc244 */
span.UflSff.custom-taskcolor-csc244,
div.UflSff.custom-taskcolor-csc244 {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(27, 188, 155, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}

/* ista355 */
span.custom-taskcolor-ista355,
div.custom-taskcolor-ista355 {
  background-color: #ebd722;
}

/* Completed ista355 */
span.UflSff.custom-taskcolor-ista355,
div.UflSff.custom-taskcolor-ista355 {
  /* On completed tasks, strikethrough the text and make text dark and semi-transparent */
  background-color: rgba(235, 215, 34, 0.24);
  color: rgba(8, 8, 8, 0.78) !important;
  text-decoration: line-through !important;
}
